.Pokecard {
	display: inline-block;
	width: 150px;
	border: 1px solid gray;
	border-radius: 10%;
	background-color: lightgray;
	text-align: center;
	margin: 1em;
	padding: 1em;
}

.Pokecard-name {
	text-align: center;
	font-size: 1.2em;
    margin:0px;
	color: blue;
}

.Pokecard-type,
.Pokecard-exp {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
