.Pokedex {
	text-align: center;
	border: 1px solid grey;
	margin: 10px;
}

.Pokedex-title {
	color: grey;
	margin: 0px;
}

.Pokedex-cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.Pokedex-winner{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
